.sidebar{
    height: 100vh;
    width: 60px;
    position: relative;

    transition: .3s;
    z-index: 2;

    background: #222d32;

    .logo{
        width: 100%;
        height: 60px;

        color: #fff;
        font: {
            size: 1.5rem;
            weight: bold;
        }

        background: darken(#3c8dbc, 10%);
    }

    .user{
        color: transparent;
        font-weight: bold;

        display: flex;
        padding: 5px;

        & > img{
            max-width: 200px;
            max-height: 200px;

            margin-right: 1rem;
        }
    }

    .header{
        background: darken(#222d32, 10%);
        text-align: center;
        color: silver;

        padding: 10px 0;
        display: none;
    }

    .menu{
        margin: 0;
        padding: 0px;

        &__item{
            &:hover{
                width: 300px;
                background: #222d32;
                border-left: 2px solid #3c8dbc;
            }

            & i{
                color: silver;
                font-size: 1.2rem;

                margin-right: 25px;
            }

            & a{
                color: white;
                text-decoration: none;
            }

            display: flex;
            padding: 10px 20px;
            width: 60px;
            height: 40px;

            cursor: pointer;
            list-style: none;
            overflow: hidden;
        }
    }

    .bg{
        height: 100vh;
        width: 60px;

        position: fixed;
        top: 0;
        left: 0;

        background: #222d32;

        z-index: -1;
        transition: .3s;
    }

    //active state
    &.active{
        width: 300px;
    }

    &.active>.user{
        color: white;

        & > img{
            max-width: 50px;
            max-height: 50px;
        }
    }

    &.active>.header{
        display: block;
    }

    &.active .menu__item{
        width: 300px;
        overflow-x: hidden;

        &:hover{
            border-left: 2px solid #3c8dbc;
            background: darken(#222d32, 5%);
        }
    }

    &.active .bg{
        width: 300px;
    }
}
