.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 30px;
    height: 20px;

    transition: .3s;
    cursor: pointer;
    
    &>span{
        width: 100%;
        height: 3px;

        background: #fff;
    }

    &.active{
        transform: rotate(90deg);
    }
}
