.dropNo{
    border: none !important;
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.avatar{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    margin-right: 10px;
}
