@import './styles/font-awesome.min.css';

.center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

body{
    background: #eee;
    overflow-x: hidden;
}

.bg-blue{
    background: #3c8dbc;
}

.content{
    min-height: calc(100% - 120px);
}

tbody th{
    font-weight: 400;
}

.cur{
    cursor: pointer;
}

.opacity-5{
    opacity: .5;
}
